.signup-section {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.image1-container, .image2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 15vw; /* Keeping images narrow */
}

.image1, .image2 {
    width: 100%; 
    height: auto;
}

.container {
    max-width: 350px; /* Adjusted width to be similar to Trello */
    padding: 40px 30px; /* Padding for inside the form */
    margin: 1200px 0; /* Added margin for space between the form and the top/bottom */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.logo {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-heading {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgb(146, 149, 153);
}

.reg-input {
    width: 100%; 
    height: 45px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.register-btn {
    width: 100%; 
    height: 50px;
    border-radius: 5px;
    background-color: #2f3990 !important;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.register-btn:hover {
    background-color: #233076;
}

.checkbox {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.continue-btn {
    background-color: #2f3990 !important;
    width: 100%;
    max-width: 400px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.continue-btn:hover {
    background-color: #233076;
}

@media (max-width: 768px) {
    .main1 {
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 90%; /* Full width form on smaller screens */
        padding: 20px;
    }
}
