.main{
    margin: 0 !important;
    padding: 0 !important;
}
.ant-form-item-control-input,:where(.css-dev-only-do-not-override-14qglws).ant-col-xl-14 ,:where(.css-dev-only-do-not-override-14qglws).ant-form-item .ant-form-item-control:first-child:not([class^="'ant-col-'"]):not([class*="' ant-col-'"]), :where(.css-dev-only-do-not-override-14qglws).ant-col-lg-10{
    margin: 0 !important;
}
.section1{
    margin: 0;
    background-image: url('https://i.ibb.co/r7GqKpP/5669.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 610px;
}
.heading1{
    padding-top: 5%;
    margin-left: 3%;
    font-size: 45px;
    font-family: 'poppins';
    font-weight: 500;
    color: #fff;
}
.section2{
    margin-top: 5%;
    margin-left: 10%;
}
:where(.css-dev-only-do-not-override-14qglws).ant-form-item .ant-form-item-label >label{
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 700;   
}
.logo-heading{
    font-size: 45px;
    font-family: "poppins";
    font-weight: 600;
    margin-bottom: 2%;
}
.login-heading{
    font-size: 35px;
    font-family: "poppins";
    font-weight: 500;
}
.login-subheading{
    color: #535358;
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 3%;
}
.forgot-password{
    margin-left: 40% !important;
    font-size: 13px;
    font-family: 'poppins';
}
.input{
    width: 400px;
    height: 50px;
    font-size: 16px;
    font-family: 'poppins';
    margin-bottom: 2%;
}
.checkbox{
    font-size: 13px;
    font-family: 'poppins';}
.login-btn1{
    background-color: #2f3990 !important;
    width: 400px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 400;
}
.login-btn3{
    margin-left: 32%;
}